#build-resume .sub-title {
  text-align: center;
  color: #333;
  font-weight: normal;
  font-size: 30px;
  padding: auto 20px;
}

@media only screen and (max-width: 750px) {
  #build-resume .sub-title {
    font-size: 26px;
  }
}

@media only screen and (max-width: 550px) {
  #build-resume .sub-title {
    font-size: 22px;
    padding: 10px;
  }
}