#credits {
  max-width: 1000px;
  margin: auto;
  padding: 0 50px 150px;
}

#credits .sub-title {
  font-size: 30px;
}

#credits ul {
  list-style-type: disc;
  font-size: 24px;
}

#credits li {
  margin-bottom: 20px;
}

#credits img {
  height: 35px;
  width: 35px;
  position: relative;
  top: 7px;
  right: 5px;
}