#logout {
  text-align: center;
  color: #333;
  padding-top: 100px;
}

#logout h1 {
  font-size: 36px;
}

#logout h3 {
  font-size: 28px;
}

#logout a {
  color: #0077ff;
  padding: 10px;
  line-height: 50px;
  border-radius: 5px;
}

#logout a:hover {
  background-color: #d6e9f0;
}