#logout .title {
  font-size: 36px;
}

#logout .text {
  font-size: 28px;
  max-width: 900px;
  line-height: 40px;
  margin: 50px auto;
}

#logout {
  text-align: center;
  padding: 100px;
}

#logout a {
  color: #0077ff;
  padding: 5px;
  border-radius: 5px;
}

#logout a:hover {
  background-color: #d6e9f0;
}
