#not-found {
  padding: 20px;
}

#not-found .title {
  font-size: 128px;
}

#not-found .description {
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  #not-found .title {
    font-size: 96px;
  }

  #not-found .description {
    font-size: 24px;
  }
}
