#privacy {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 150px;
}

#privacy h1:first-child {
  margin-top: 40px;
}

#privacy h1 {
  font-size: 36px;
  text-align: center;
  margin: 100px 0 50px;
}

#privacy h2 {
  font-size: 30px;
}

#privacy p,
#privacy li {
  font-size: 20px;
  margin-bottom: 20px;
}
