#resumes .resume-previews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#resumes .resume-previews .template-preview-container figcaption {
  position: relative;
  top: -25px;
}

#resumes .no-resumes {
  max-width: 800px;
  margin: 100px auto 0;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
}

@media only screen and (max-width: 700px) {
  #resumes .resume-previews .template-preview-container figcaption {
    position: relative;
    top: -15px;
  }

  #resumes .no-resumes {
    padding: 10px;
    font-size: 24px;
    line-height: normal;
  }
}
