@keyframes slide-in {
  0% {
    bottom: -50px;
  }

  100% {
    bottom: 0;
  }
}

.message-list {
  padding: 0;
  z-index: 1000;
  position: fixed;
  text-align: center;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.message-list .message {
  position: relative;
  display: inline-flex;
  margin-top: 10px;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: #fff;
  border: 2px solid #b3b3b3;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.2s;
  animation: slide-in 0.2s forwards;
}

.message-list .message .message-icon {
  position: relative;
  right: 14px;
  margin-left: 10px;
  min-width: 30px;
  min-height: 30px;
}

.message-list .message.error {
  border-color: red;
}

.message-list .message.success {
  border-color: green;
}

.message-list .message.info {
  border-color: #0077ff;
}

.message-list .message.to-remove {
  opacity: 0;
  transform: scale(0.6);
}

.message-list .message .dismiss-btn {
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  transition: all 0.2s;
}

.message-list .message .dismiss-btn .icon {
  position: relative;
  top: 2px;
}

.message-list .message .dismiss-btn:hover {
  background-color: #e9e9e9;
}

@media only screen and (max-width: 1200px) {
  .message-list {
    width: 1600px;
  }
}

@media only screen and (max-width: 850px) {
  .message-list {
    width: 90%;
  }
}
