.dates-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-separator {
  font-size: 30px;
  height: 0;
  min-width: 15px;
  margin: 10px;
  border: 1px solid #444;
}