.dates-group .react-datepicker__header {
  padding-top: 12px;
}

.dates-group .react-datepicker-year-header {
  font-size: 1.44rem;
}

.dates-group .react-datepicker__month-text {
  font-size: 1.20rem;
  padding: 5px;
}

.dates-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-separator {
  font-size: 30px;
  height: 0;
  min-width: 15px;
  margin: 10px;
  border: 1px solid #444;
}
