#resume-form form {
  padding: 50px;
  max-width: 800px;
  margin: auto;
}

#resume-form .group {
  margin-bottom: 25px;
}

#resume-form .template-preview-container {
  min-height: auto;
}

#resume-form .template-preview {
  margin: 50px auto;
  display: block;
}

#resume-form .field-error {
  color: red;
}

#resume-form .add-field,
#resume-form .remove-field {
  border: none;
  display: block;
  background-color: transparent;
  margin: auto;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  transition: all 0.2s;
}

#resume-form .add-field {
  color: #00a2ff;
}

#resume-form .add-field:hover {
  background-color: rgb(0, 162, 255, 0.15);
}

#resume-form .remove-field {
  color: red;
}

#resume-form .remove-field:not(:first-of-type) {
  margin-top: 70px;
}

#resume-form .remove-field:hover {
  background-color: rgb(255, 0, 0, 0.1);
}

#resume-form label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

#resume-form input,
#resume-form textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#resume-form textarea {
  font-family: 'Cantarell', sans-serif;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 400px;
  height: 150px;
}

#resume-form section {
  margin-bottom: 70px;
}

#resume-form #submit-btn {
  border: none;
  margin: 50px auto 50px;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 22px;
  background-color: rgb(0, 162, 255);
  padding: 12px 15px;
  border-radius: 5px;
}

#resume-form #submit-btn:hover {
  opacity: 0.8;
}

#resume-form .download-group {
  display: flex;
  justify-content: center;
}

#resume-form .download-group > * {
  margin: 0 15px 50px;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
  min-width: 100px;
  font-size: 25px;
  text-align: center;
  color: #fff;
}

#resume-form .download-group > *:hover {
  opacity: 0.8;
}

#resume-form .download-group #docx-btn {
  background-color: #00a2ff;
}

#resume-form .download-group #pdf-btn {
  background-color: #ff4d4d;
}
