footer {
  display: flex;
  padding: 150px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: rgb(7, 0, 124);
  background: linear-gradient(to top right, rgb(0, 43, 124) 0%, rgb(0, 195, 255) 100%);
}

footer a {
  color: #eee;
}

footer a:hover {
  color: rgb(0, 255, 194);
}

footer * {
  color: #eee;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer nav a {
  padding: 7px;
  font-size: 18px;
  margin: 0 3px;
  font-weight: bold;
}

footer .copyright-notice {
  position: absolute;
  width: 99%;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  footer {
    flex-direction: column;
    padding: 20px 0 150px 0;
  }

  footer .title {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  footer nav a {
    margin: 10px;
  }
}
