header.dark * {
  color: #333;
}

header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px;
}

header .logo {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  right: 10px;
}

header .title {
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

header .title a {
  padding: 15px;
  border: 5px solid transparent;
}


header.dark .title a:hover {
  border-bottom-color: rgb(0, 132, 255);
}

header .title a:hover {
  border-bottom-color: rgb(0, 255, 194);
}

header a {
  color: #eee;
  font-weight: bold;
}

header.dark a:hover {
  color: rgb(0, 132, 255);
}

header a:hover {
  color: rgb(0, 255, 194);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

header nav a {
  border: 5px solid transparent;
  padding: 20px;
  padding-right: 28px;
  margin: 0;
  font-size: 18px;
}

header nav a.active:not(:hover) {
  background-color: transparent !important;
}

header.dark nav a:hover,
header.dark nav a.active {
  color: rgb(0, 132, 255);
  background-color: rgba(0, 183, 255, .1);
  border-bottom: 5px solid rgb(0, 132, 255);
}

header nav a:hover,
header nav a.active {
  color: rgb(0, 255, 194);
  background-color: rgba(0, 255, 194, .1);
  border-bottom: 5px solid rgb(0, 255, 194);
}

header.dark .icon {
  fill: #333;
}

header .icon {
  position: relative;
  top: 5px;
  left: 10px;
  transition: all .2s;
}

header.dark nav a:hover .icon,
header.dark nav a.active .icon {
  fill: rgb(0, 132, 255);
}

header nav a:hover .icon,
header nav a.active .icon {
  fill: rgb(0, 255, 194);
}

@media only screen and (max-width: 1425px) {
  header {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  header.dark nav {
    border-bottom: 2px solid rgb(0, 132, 255);

  }

  header nav {
    border-bottom: 2px solid rgb(0, 255, 194);
  }
}

@media only screen and (max-width: 700px) {
  header {
    width: 85%;
  }
  
  header nav {
    margin-top: 20px;
  }

  header nav a {
    margin-top: 10px;
    flex-grow: 1;
    text-align: center;
    padding: 10px 15px;
  }
}