#features .title {
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
}

#features .feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#features .feature-cards .card {
  position: relative;
  width: 350px;
  min-height: 320px;
  border-radius: 5px;
  line-height: 35px;
  margin: 50px;
  padding: 30px 50px;
  background-color: #fff;
  transition: all 0.3s;
}

#features .feature-cards .card::before {
  content: '';
  width: 350px;
  padding: 30px 50px;
  height: 355px;
  background: linear-gradient(to bottom right, rgb(0, 43, 124) 0%, rgb(0, 204, 255) 100%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s;
}

#features .feature-cards .card .card-title {
  font-size: 26px;
  text-align: center;
}

#features .feature-cards .card .card-description {
  font-size: 22px;
  display: flex;
  text-align: center;
  align-items: center;
}

#features .feature-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px 0px #bbb;
  color: #fff;
  background-color: transparent;
}

#features .feature-cards .card:hover::before {
  opacity: 1;
}

@media only screen and (max-width: 1650px) {
  #features .feature-cards .card {
    margin: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  #features .feature-cards .card::before {
    display: none;
  }

  #features .feature-cards .card:hover {
    color: #000;
    background-color: #fff;
  }
}

@media only screen and (max-width: 530px) {
  #features .feature-cards .card {
    width: auto;
    height: auto;
    max-width: 95%;
    line-height: 32px;
  }

  #features .feature-cards .card .card-title {
    font-size: 22px;
  }

  #features .feature-cards .card .card-description {
    font-size: 18px;
  }
}
