footer {
  display: flex;
  padding: 150px;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background: rgb(7, 0, 124);
  background: linear-gradient(to bottom right, rgb(7, 0, 124) 0%, rgb(0, 204, 255) 100%);
}

footer a:hover {
  color: rgb(0, 255, 194);
}

footer * {
  color: #eee;
}

footer nav a {
  padding: 7px;
  font-size: 18px;
  margin: 0 3px;
  font-weight: bold;
}

footer .copyright-notice {
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
