header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

header .title {
  margin: 0;
  padding: 10px;
}

header a {
  color: #eee;
}

header a:hover {
  color: rgb(0, 255, 194);
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  border-bottom: 5px solid transparent;
  padding: 20px;
  margin: 0;
  font-size: 18px;
}

header nav a:hover {
  color: rgb(0, 255, 194);
  border-bottom: 5px solid rgb(0, 255, 194);
}