#templates .title {
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
}

#templates .templates-spinner {
  display: flex;
  justify-content: center;
}

#templates .template-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  margin: 70px 50px;
}

#templates .show-more-btn {
  opacity: .8;
  display: block;
  cursor: pointer;
  margin: -50px auto 50px;
  padding: 7px 10px;
  font-size: 16px;
  background-color: #00A2FF;
  font-weight: bold;
  color: #eee;
  border: none;
  border-radius: 5px;
  transition: all .2s;
}

#templates .show-more-btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  #templates .template-previews a {
    text-align: center;
  }

  #templates .template-previews img {
    max-width: 100%;
    margin: 20px auto;
  }
}
