#confirm-logout {
  margin-top: 30px;
}

#confirm-logout .buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#confirm-logout .buttons > * {
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 22px;
  padding: 12px 15px;
  border-radius: 5px;
}

#confirm-logout .buttons > .secondary {
  color: rgb(0, 162, 255);
}

#confirm-logout .buttons > .secondary:hover {
  background-color: rgba(0, 162, 255, 0.15);
}

#confirm-logout .buttons > .primary {
  color: rgb(0, 162, 255);
  border: 2px solid rgb(0, 162, 255);
}

#confirm-logout .buttons > .primary:hover {
  background-color: rgba(0, 162, 255, 0.15);
}

@media only screen and (max-width: 550px) {
  #confirm-logout {
    margin-top: 100px;
  }
}
