#delete-resume .title {
  font-size: 30px;
}

#delete-resume .delete-btn {
  background-color: #e93c3c;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  border: none;
  margin: 50px auto 0px;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 22px;
  padding: 12px 19px 12px 15px;
  border-radius: 5px;
}

#delete-resume .delete-btn:hover {
  opacity: 0.8;
}

#delete-resume .delete-btn .icon {
  position: relative;
  top: 3px;
  left: 7px;
}

.modal.small {
  max-width: 500px;
}
