#delete-resume {
  max-width: 600px;
}

#delete-resume .description {
  font-size: 24px;
  margin: 70px 10px;
}

#delete-resume .delete-btn {
  background-color: rgba(233, 60, 60, .2);
  display: flex;
  justify-content: center;
  border: none;
  margin: 50px auto 0px;
  color: #e93c3c;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 22px;
  padding: 12px 19px 12px 15px;
}

#delete-resume .delete-btn:hover {
  background-color: rgba(233, 60, 60, .3);
}

#delete-resume .delete-btn .icon {
  position: relative;
  top: 3px;
  left: 7px;
}

.modal.small {
  max-width: 500px;
}
